/*
==================================
IMPORTS
==================================
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

/*
==================================
GENERAL
==================================
*/

body, html {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 300;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.selected {
  color: red;
}

p {
  color: black;
  background-color: royalblue;
  padding: 10px;
  display: block;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

table {
	display: table;
	border-collapse: separate;
	border-spacing: 10px;
	border-color: gray;
}

table.add {
	padding-top: 35px;
}

/*
==================================
HEADER
==================================
*/

header {
  width: 100%;
  height: 200px;
  background-image: url(swbg.jpg);
}
header h1 {
  font-weight: 300;
  color: white;
  font-size: 60px;
}

/*
==================================
NAV
==================================
*/

.navigate {
  float: left;
  width: 20%;
  padding-right: 30px;
}
nav {
  width: 100%;
  list-style-type: none;
  padding-top: 30px;
}
nav li {
  background-color: #ECE6FC;
  padding: 7px;
  transition: background 1s;
}
nav li:hover {
  background-color: #D5C8FA;
}
nav a, nav a:visited {
  color: gray;
  text-decoration: none;
}

/*
==================================
MAIN
==================================
*/

main {
  padding-top: 30px;
}
main h1 {
  font-weight: 300;
  padding: 0;
  margin: 0;
}
main table {
  color: gray;
}
main table td {
  font-weight: 300;
}
main table th {
  font-weight: 500;
  text-align: left;
  width: 100px;
  color: gray;
}

/*
==================================
FOOTER
==================================
*/